$e-icons-path: "../fonts" !default;
@import "variables";

@font-face {
  font-family: 'e-line-icons';
  src:  url('#{$e-icons-path}/e-line-icons.eot?gwcsk0');
  src:  url('#{$e-icons-path}/e-line-icons.eot?gwcsk0#iefix') format('embedded-opentype'),
  url('#{$e-icons-path}/e-line-icons.ttf?gwcsk0') format('truetype'),
  url('#{$e-icons-path}/e-line-icons.woff?gwcsk0') format('woff'),
  url('#{$e-icons-path}/e-line-icons.svg?gwcsk0#e-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='icon-'] {
  font-family: 'e-line-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.icon-2x {
    font-size: 2em;
}
.icon-3x {
    font-size: 3em;
}
.icon-4x {
    font-size: 4em;
}
.icon-5x {
    font-size: 5em;
}
.icon-fw {
    width: 1.28571429em;
    text-align: center;
}
.icon-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.icon-ul > li {
    position: relative;
}
.icon-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.icon-li.icon-lg {
    left: -1.85714286em;
}
.icon-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.icon-pull-left {
    float: left;
}
.icon-pull-right {
    float: right;
}
.icon.icon-pull-left {
    margin-right: .3em;
}
.icon.icon-pull-right {
    margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.icon.pull-left {
    margin-right: .3em;
}
.icon.pull-right {
    margin-left: .3em;
}
.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
}
.icon-pulse {
    -webkit-animation: icon-spin 1s infinite steps(8);
    animation: icon-spin 1s infinite steps(8);
}
@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.icon-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.icon-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.icon-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.icon-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.icon-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
    filter: none;
}
.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.icon-stack-1x {
    line-height: inherit;
}
.icon-stack-2x {
    font-size: 2em;
}
.icon-inverse {
    color: #ffffff;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
// Icons

.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-ATM {
  &:before {
    content: $icon-ATM;
  }
}
.icon-layers {
  &:before {
    content: $icon-layers;
  }
}
.icon-eye-invisible {
  &:before {
    content: $icon-eye-invisible;
  }
}
.icon-air {
  &:before {
    content: $icon-air;
  }
}
.icon-area-graph {
  &:before {
    content: $icon-area-graph;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-gauge {
  &:before {
    content: $icon-gauge;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-lifebuoy {
  &:before {
    content: $icon-lifebuoy;
  }
}
.icon-location-pin {
  &:before {
    content: $icon-location-pin;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-suitcase {
  &:before {
    content: $icon-suitcase;
  }
}
.icon-car {
  &:before {
    content: $icon-car;
  }
}
.icon-ccs-type1 {
  &:before {
    content: $icon-ccs-type1;
  }
}
.icon-ccs {
  &:before {
    content: $icon-ccs;
  }
}
.icon-chademo {
  &:before {
    content: $icon-chademo;
  }
}
.icon-type2 {
  &:before {
    content: $icon-type2;
  }
}
.icon-3pin-adapter {
  &:before {
    content: $icon-3pin-adapter;
  }
}
.icon-gbt {
  &:before {
    content: $icon-gbt;
  }
}
.icon-type1 {
  &:before {
    content: $icon-type1;
  }
}
.icon-schuko {
  &:before {
    content: $icon-schuko;
  }
}
.icon-europlug {
  &:before {
    content: $icon-europlug;
  }
}
.icon-fast-charge {
  &:before {
    content: $icon-fast-charge;
  }
}
.icon-map {
  &:before {
    content: $icon-map;
  }
}
.icon-protection {
  &:before {
    content: $icon-protection;
  }
}
.icon-short-circuit-g {
  &:before {
    content: $icon-short-circuit-g;
  }
}
.icon-stations {
  &:before {
    content: $icon-stations;
  }
}
.icon-all-stations {
  &:before {
    content: $icon-all-stations;
  }
}
.icon-station-d {
  &:before {
    content: $icon-station-d;
  }
}
.icon-station-a {
  &:before {
    content: $icon-station-a;
  }
}
.icon-station-v {
  &:before {
    content: $icon-station-v;
  }
}
.icon-station-c {
  &:before {
    content: $icon-station-c;
  }
}
.icon-station-m {
  &:before {
    content: $icon-station-m;
  }
}
.icon-station-h {
  &:before {
    content: $icon-station-h;
  }
}
.icon-station-f {
  &:before {
    content: $icon-station-f;
  }
}
.icon-guest-charge {
  &:before {
    content: $icon-guest-charge;
  }
}
.icon-station-partner {
  &:before {
    content: $icon-station-partner;
  }
}
.icon-station-status {
  &:before {
    content: $icon-station-status;
  }
}
.icon-station-free {
  &:before {
    content: $icon-station-free;
  }
}
.icon-station-j {
  &:before {
    content: $icon-station-j;
  }
}
.icon-station-p {
  &:before {
    content: $icon-station-p;
  }
}
.icon-station-t {
  &:before {
    content: $icon-station-t;
  }
}
.icon-price-ribbon {
  &:before {
    content: $icon-price-ribbon;
  }
}
.icon-e-line-logo {
  &:before {
    content: $icon-e-line-logo;
  }
}
.icon-e-line {
  &:before {
    content: $icon-e-line;
  }
}
.icon-tools {
  &:before {
    content: $icon-tools;
  }
}
.icon-do-not-disturb {
  &:before {
    content: $icon-do-not-disturb;
  }
}
.icon-gas-station {
  &:before {
    content: $icon-gas-station;
  }
}
.icon-parking-place-l {
  &:before {
    content: $icon-parking-place-l;
  }
}
.icon-parking-sign {
  &:before {
    content: $icon-parking-sign;
  }
}
.icon-restaurant {
  &:before {
    content: $icon-restaurant;
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.icon-bricks {
  &:before {
    content: $icon-bricks;
  }
}
.icon-users-l {
  &:before {
    content: $icon-users-l;
  }
}
.icon-reservation {
  &:before {
    content: $icon-reservation;
  }
}
.icon-achievement {
  &:before {
    content: $icon-achievement;
  }
}
.icon-add-user {
  &:before {
    content: $icon-add-user;
  }
}
.icon-alarm {
  &:before {
    content: $icon-alarm;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-atm {
  &:before {
    content: $icon-atm;
  }
}
.icon-balance {
  &:before {
    content: $icon-balance;
  }
}
.icon-bars-extended {
  &:before {
    content: $icon-bars-extended;
  }
}
.icon-bars-narrowed {
  &:before {
    content: $icon-bars-narrowed;
  }
}
.icon-battery {
  &:before {
    content: $icon-battery;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-business {
  &:before {
    content: $icon-business;
  }
}
.icon-business-name {
  &:before {
    content: $icon-business-name;
  }
}
.icon-cafe {
  &:before {
    content: $icon-cafe;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-car-service {
  &:before {
    content: $icon-car-service;
  }
}
.icon-card {
  &:before {
    content: $icon-card;
  }
}
.icon-cards {
  &:before {
    content: $icon-cards;
  }
}
.icon-charge {
  &:before {
    content: $icon-charge;
  }
}
.icon-charges {
  &:before {
    content: $icon-charges;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-clapperboard {
  &:before {
    content: $icon-clapperboard;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard;
  }
}
.icon-description {
  &:before {
    content: $icon-description;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-electricity {
  &:before {
    content: $icon-electricity;
  }
}
.icon-energy {
  &:before {
    content: $icon-energy;
  }
}
.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-eye-invisible1 {
  &:before {
    content: $icon-eye-invisible1;
  }
}
.icon-eye-visible {
  &:before {
    content: $icon-eye-visible;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;
  }
}
.icon-fuel {
  &:before {
    content: $icon-fuel;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-gps {
  &:before {
    content: $icon-gps;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-help-circle {
  &:before {
    content: $icon-help-circle;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-language {
  &:before {
    content: $icon-language;
  }
}
.icon-leaf {
  &:before {
    content: $icon-leaf;
  }
}
.icon-line-graph {
  &:before {
    content: $icon-line-graph;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-loader {
  &:before {
    content: $icon-loader;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-locked {
  &:before {
    content: $icon-locked;
  }
}
.icon-login {
  &:before {
    content: $icon-login;
  }
}
.icon-logout {
  &:before {
    content: $icon-logout;
  }
}
.icon-manually {
  &:before {
    content: $icon-manually;
  }
}
.icon-map1 {
  &:before {
    content: $icon-map1;
  }
}
.icon-medal {
  &:before {
    content: $icon-medal;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-money {
  &:before {
    content: $icon-money;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-parking {
  &:before {
    content: $icon-parking;
  }
}
.icon-pharmacy {
  &:before {
    content: $icon-pharmacy;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-reservations {
  &:before {
    content: $icon-reservations;
  }
}
.icon-route {
  &:before {
    content: $icon-route;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-services {
  &:before {
    content: $icon-services;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-shop {
  &:before {
    content: $icon-shop;
  }
}
.icon-shopping-basket {
  &:before {
    content: $icon-shopping-basket;
  }
}
.icon-signal {
  &:before {
    content: $icon-signal;
  }
}
.icon-sort-down {
  &:before {
    content: $icon-sort-down;
  }
}
.icon-sort-up {
  &:before {
    content: $icon-sort-up;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-o {
  &:before {
    content: $icon-star-o;
  }
}
.icon-station-location {
  &:before {
    content: $icon-station-location;
  }
}
.icon-statistic {
  &:before {
    content: $icon-statistic;
  }
}
.icon-stopwatch {
  &:before {
    content: $icon-stopwatch;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-time-slot {
  &:before {
    content: $icon-time-slot;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-unlocked {
  &:before {
    content: $icon-unlocked;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-info {
  &:before {
    content: $icon-user-info;
  }
}
.icon-user-profile {
  &:before {
    content: $icon-user-profile;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-wc {
  &:before {
    content: $icon-wc;
  }
}
