$icon-cloud: "\e900";
$icon-ATM: "\e901";
$icon-layers: "\e902";
$icon-eye-invisible: "\e903";
$icon-air: "\e904";
$icon-area-graph: "\e905";
$icon-bell: "\e906";
$icon-code: "\e907";
$icon-gauge: "\e908";
$icon-key: "\e909";
$icon-lifebuoy: "\e90a";
$icon-location-pin: "\e90b";
$icon-mail: "\e90d";
$icon-shield: "\e90f";
$icon-suitcase: "\e910";
$icon-car: "\e913";
$icon-ccs-type1: "\e914";
$icon-ccs: "\e915";
$icon-chademo: "\e916";
$icon-type2: "\e921";
$icon-3pin-adapter: "\e92c";
$icon-gbt: "\e918";
$icon-type1: "\e91f";
$icon-schuko: "\e920";
$icon-europlug: "\e92d";
$icon-fast-charge: "\e917";
$icon-map: "\e91a";
$icon-protection: "\e91b";
$icon-short-circuit-g: "\e91c";
$icon-stations: "\e955";
$icon-all-stations: "\e912";
$icon-station-d: "\e91d";
$icon-station-a: "\e911";
$icon-station-v: "\e91e";
$icon-station-c: "\e922";
$icon-station-m: "\e930";
$icon-station-h: "\e931";
$icon-station-f: "\e90e";
$icon-guest-charge: "\e932";
$icon-station-partner: "\e919";
$icon-station-status: "\e954";
$icon-station-free: "\e923";
$icon-station-j: "\e936";
$icon-station-p: "\e934";
$icon-station-t: "\e924";
$icon-price-ribbon: "\e925";
$icon-e-line-logo: "\e926";
$icon-e-line: "\e927";
$icon-tools: "\e928";
$icon-do-not-disturb: "\e929";
$icon-gas-station: "\e92a";
$icon-parking-place-l: "\e92b";
$icon-parking-sign: "\e92e";
$icon-restaurant: "\e92f";
$icon-shopping-cart: "\e933";
$icon-bricks: "\e935";
$icon-users-l: "\e937";
$icon-reservation: "\e938";
$icon-achievement: "\e97b";
$icon-add-user: "\e95e";
$icon-alarm: "\e950";
$icon-arrow-down: "\ea3e";
$icon-arrow-left: "\ea40";
$icon-arrow-right: "\ea3c";
$icon-arrow-up: "\ea3a";
$icon-atm: "\e90c";
$icon-balance: "\e939";
$icon-bars-extended: "\e93a";
$icon-bars-narrowed: "\e93b";
$icon-battery: "\e93c";
$icon-bookmark: "\e95d";
$icon-business: "\e983";
$icon-business-name: "\e93d";
$icon-cafe: "\e93e";
$icon-calendar: "\e963";
$icon-car-service: "\e93f";
$icon-card: "\e940";
$icon-cards: "\e941";
$icon-charge: "\e942";
$icon-charges: "\e943";
$icon-check: "\e964";
$icon-check-circle: "\e944";
$icon-chevron-down: "\e945";
$icon-chevron-left: "\e946";
$icon-chevron-right: "\e947";
$icon-chevron-up: "\e948";
$icon-clapperboard: "\e949";
$icon-close: "\e94a";
$icon-close-circle: "\e965";
$icon-dashboard: "\e94b";
$icon-description: "\e94c";
$icon-download: "\e94d";
$icon-edit: "\e977";
$icon-electricity: "\e96b";
$icon-energy: "\e960";
$icon-error: "\e962";
$icon-eye-invisible1: "\e94e";
$icon-eye-visible: "\e96a";
$icon-facebook: "\e94f";
$icon-filter: "\e96c";
$icon-fuel: "\e969";
$icon-google: "\e951";
$icon-gps: "\e952";
$icon-help: "\e96e";
$icon-help-circle: "\e96d";
$icon-home: "\e96f";
$icon-info: "\e953";
$icon-instagram: "\e956";
$icon-language: "\e957";
$icon-leaf: "\e958";
$icon-line-graph: "\e971";
$icon-link: "\e972";
$icon-loader: "\e982";
$icon-location: "\e959";
$icon-locked: "\e974";
$icon-login: "\e95a";
$icon-logout: "\e95b";
$icon-manually: "\e95c";
$icon-map1: "\e95f";
$icon-medal: "\e975";
$icon-minus: "\e976";
$icon-minus-circle: "\e966";
$icon-money: "\e961";
$icon-notification: "\e967";
$icon-parking: "\e968";
$icon-pharmacy: "\e970";
$icon-phone: "\e978";
$icon-pin: "\e979";
$icon-plus: "\e97a";
$icon-plus-circle: "\e973";
$icon-print: "\e97c";
$icon-reservations: "\e97d";
$icon-route: "\e97e";
$icon-search: "\e97f";
$icon-services: "\e980";
$icon-settings: "\e981";
$icon-share: "\e984";
$icon-shop: "\e985";
$icon-shopping-basket: "\e986";
$icon-signal: "\e987";
$icon-sort-down: "\e988";
$icon-sort-up: "\e989";
$icon-star: "\e9d9";
$icon-star-o: "\e9d7";
$icon-station-location: "\e98a";
$icon-statistic: "\e98b";
$icon-stopwatch: "\e98c";
$icon-time: "\e98d";
$icon-time-slot: "\e98e";
$icon-twitter: "\e98f";
$icon-unlocked: "\e990";
$icon-upload: "\e991";
$icon-user: "\e992";
$icon-user-info: "\e993";
$icon-user-profile: "\e994";
$icon-users: "\e995";
$icon-warning: "\e996";
$icon-wc: "\e997";