@font-face {
  font-family: 'e-line-icons';
  src:  url('fonts/e-line-icons.eot?cou4n8');
  src:  url('fonts/e-line-icons.eot?cou4n8#iefix') format('embedded-opentype'),
    url('fonts/e-line-icons.ttf?cou4n8') format('truetype'),
    url('fonts/e-line-icons.woff?cou4n8') format('woff'),
    url('fonts/e-line-icons.svg?cou4n8#e-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'e-line-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cloud:before {
  content: "\e900";
}
.icon-ATM:before {
  content: "\e901";
}
.icon-layers:before {
  content: "\e902";
}
.icon-eye-invisible:before {
  content: "\e903";
}
.icon-air:before {
  content: "\e904";
}
.icon-area-graph:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-code:before {
  content: "\e907";
}
.icon-gauge:before {
  content: "\e908";
}
.icon-key:before {
  content: "\e909";
}
.icon-lifebuoy:before {
  content: "\e90a";
}
.icon-location-pin:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-shield:before {
  content: "\e90f";
}
.icon-suitcase:before {
  content: "\e910";
}
.icon-car:before {
  content: "\e913";
}
.icon-ccs-type1:before {
  content: "\e914";
}
.icon-ccs:before {
  content: "\e915";
}
.icon-chademo:before {
  content: "\e916";
}
.icon-type2:before {
  content: "\e921";
}
.icon-3pin-adapter:before {
  content: "\e92c";
}
.icon-gbt:before {
  content: "\e918";
}
.icon-type1:before {
  content: "\e91f";
}
.icon-schuko:before {
  content: "\e920";
}
.icon-europlug:before {
  content: "\e92d";
}
.icon-fast-charge:before {
  content: "\e917";
}
.icon-map:before {
  content: "\e91a";
}
.icon-protection:before {
  content: "\e91b";
}
.icon-short-circuit-g:before {
  content: "\e91c";
}
.icon-stations:before {
  content: "\e955";
}
.icon-all-stations:before {
  content: "\e912";
}
.icon-station-d:before {
  content: "\e91d";
}
.icon-station-a:before {
  content: "\e911";
}
.icon-station-v:before {
  content: "\e91e";
}
.icon-station-c:before {
  content: "\e922";
}
.icon-station-m:before {
  content: "\e930";
}
.icon-station-h:before {
  content: "\e931";
}
.icon-station-f:before {
  content: "\e90e";
}
.icon-guest-charge:before {
  content: "\e932";
}
.icon-station-partner:before {
  content: "\e919";
}
.icon-station-status:before {
  content: "\e954";
}
.icon-station-free:before {
  content: "\e923";
}
.icon-station-j:before {
  content: "\e936";
}
.icon-station-p:before {
  content: "\e934";
}
.icon-station-t:before {
  content: "\e924";
}
.icon-price-ribbon:before {
  content: "\e925";
}
.icon-e-line-logo:before {
  content: "\e926";
}
.icon-e-line:before {
  content: "\e927";
}
.icon-tools:before {
  content: "\e928";
}
.icon-do-not-disturb:before {
  content: "\e929";
}
.icon-gas-station:before {
  content: "\e92a";
}
.icon-parking-place-l:before {
  content: "\e92b";
}
.icon-parking-sign:before {
  content: "\e92e";
}
.icon-restaurant:before {
  content: "\e92f";
}
.icon-shopping-cart:before {
  content: "\e933";
}
.icon-bricks:before {
  content: "\e935";
}
.icon-users-l:before {
  content: "\e937";
}
.icon-reservation:before {
  content: "\e938";
}
.icon-achievement:before {
  content: "\e97b";
}
.icon-add-user:before {
  content: "\e95e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-atm:before {
  content: "\e90c";
}
.icon-balance:before {
  content: "\e939";
}
.icon-bars-extended:before {
  content: "\e93a";
}
.icon-bars-narrowed:before {
  content: "\e93b";
}
.icon-battery:before {
  content: "\e93c";
}
.icon-bookmark:before {
  content: "\e95d";
}
.icon-business:before {
  content: "\e983";
}
.icon-business-name:before {
  content: "\e93d";
}
.icon-cafe:before {
  content: "\e93e";
}
.icon-calendar:before {
  content: "\e963";
}
.icon-car-service:before {
  content: "\e93f";
}
.icon-card:before {
  content: "\e940";
}
.icon-cards:before {
  content: "\e941";
}
.icon-charge:before {
  content: "\e942";
}
.icon-charges:before {
  content: "\e943";
}
.icon-check:before {
  content: "\e964";
}
.icon-check-circle:before {
  content: "\e944";
}
.icon-chevron-down:before {
  content: "\e945";
}
.icon-chevron-left:before {
  content: "\e946";
}
.icon-chevron-right:before {
  content: "\e947";
}
.icon-chevron-up:before {
  content: "\e948";
}
.icon-clapperboard:before {
  content: "\e949";
}
.icon-close:before {
  content: "\e94a";
}
.icon-close-circle:before {
  content: "\e965";
}
.icon-dashboard:before {
  content: "\e94b";
}
.icon-description:before {
  content: "\e94c";
}
.icon-download:before {
  content: "\e94d";
}
.icon-edit:before {
  content: "\e977";
}
.icon-electricity:before {
  content: "\e96b";
}
.icon-energy:before {
  content: "\e960";
}
.icon-error:before {
  content: "\e962";
}
.icon-eye-invisible1:before {
  content: "\e94e";
}
.icon-eye-visible:before {
  content: "\e96a";
}
.icon-facebook:before {
  content: "\e94f";
}
.icon-filter:before {
  content: "\e96c";
}
.icon-fuel:before {
  content: "\e969";
}
.icon-google:before {
  content: "\e951";
}
.icon-gps:before {
  content: "\e952";
}
.icon-help:before {
  content: "\e96e";
}
.icon-help-circle:before {
  content: "\e96d";
}
.icon-home:before {
  content: "\e96f";
}
.icon-info:before {
  content: "\e953";
}
.icon-instagram:before {
  content: "\e956";
}
.icon-language:before {
  content: "\e957";
}
.icon-leaf:before {
  content: "\e958";
}
.icon-line-graph:before {
  content: "\e971";
}
.icon-link:before {
  content: "\e972";
}
.icon-loader:before {
  content: "\e982";
}
.icon-location:before {
  content: "\e959";
}
.icon-locked:before {
  content: "\e974";
}
.icon-login:before {
  content: "\e95a";
}
.icon-logout:before {
  content: "\e95b";
}
.icon-manually:before {
  content: "\e95c";
}
.icon-map1:before {
  content: "\e95f";
}
.icon-medal:before {
  content: "\e975";
}
.icon-minus:before {
  content: "\e976";
}
.icon-minus-circle:before {
  content: "\e966";
}
.icon-money:before {
  content: "\e961";
}
.icon-notification:before {
  content: "\e967";
}
.icon-parking:before {
  content: "\e968";
}
.icon-pharmacy:before {
  content: "\e970";
}
.icon-phone:before {
  content: "\e978";
}
.icon-pin:before {
  content: "\e979";
}
.icon-plus:before {
  content: "\e97a";
}
.icon-plus-circle:before {
  content: "\e973";
}
.icon-print:before {
  content: "\e97c";
}
.icon-reservations:before {
  content: "\e97d";
}
.icon-route:before {
  content: "\e97e";
}
.icon-search:before {
  content: "\e97f";
}
.icon-services:before {
  content: "\e980";
}
.icon-settings:before {
  content: "\e981";
}
.icon-share:before {
  content: "\e984";
}
.icon-shop:before {
  content: "\e985";
}
.icon-shopping-basket:before {
  content: "\e986";
}
.icon-signal:before {
  content: "\e987";
}
.icon-sort-down:before {
  content: "\e988";
}
.icon-sort-up:before {
  content: "\e989";
}
.icon-star:before {
  content: "\e9d9";
}
.icon-star-o:before {
  content: "\e9d7";
}
.icon-station-location:before {
  content: "\e98a";
}
.icon-statistic:before {
  content: "\e98b";
}
.icon-stopwatch:before {
  content: "\e98c";
}
.icon-time:before {
  content: "\e98d";
}
.icon-time-slot:before {
  content: "\e98e";
}
.icon-twitter:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-upload:before {
  content: "\e991";
}
.icon-user:before {
  content: "\e992";
}
.icon-user-info:before {
  content: "\e993";
}
.icon-user-profile:before {
  content: "\e994";
}
.icon-users:before {
  content: "\e995";
}
.icon-warning:before {
  content: "\e996";
}
.icon-wc:before {
  content: "\e997";
}